html {
    scroll-behavior: smooth;
    scroll-snap-type:y proximity;
    scroll-margin: 60vh;
}
::-webkit-scrollbar{
    width: 10px;
    background:transparent;
}
::-webkit-scrollbar-track {
    background:transparent;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    border-radius:10px;
    background: #b2b2b2;
}
::-webkit-scrollbar-thumb:hover{
    background: #888;
}
body {
    background: #DFC337;
    color: #4f3814;
    height: 100%;
    padding: 0;
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
}
h3{
    font-family: 'Bree Serif', serif;
}


/*--Nav Bar--*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #b18c26
}
nav img {
    width: 120px;
    padding: 20px 40px;
    transform: translate(10px, 5px);
}
.nav-links{
    flex: 1;
    text-align: right;
    margin-right: 20px;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: #4f3814;
    font-size: 32px;
    font-weight:600;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 5px;
    background: #4f3814;
    display: block;
    margin: auto;
    transition: 0.5s;
    margin-top: 2px;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/*--Footer--*/
footer{
    background: #b18c26;
    margin-top: 6vh;
    width: 100%;
    height: 100px;
    clear:both;
}

/*--Gallery--*/
.gallery-container
{
    width:80%;
    margin: 70px auto;
}
.gallery-container h3{
    font-size: 5vw;
    font-weight: 100;
    text-align: center;
}
.gallery{
    width: 100%;
    
    padding: 30px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);

    animation-duration: 0.75s;
    animation-name: animate-fade;
    animation-delay: 0.25s;
    animation-fill-mode: backwards;

    display: flex;
    overflow-x:scroll;
}
.gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex:none;
}
.gallery div img{
    width: 100%;
}

.gallery::-webkit-scrollbar{
    display:none;
}
.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}
#leftBtn, #rightBtn{
    width: 60px;
    cursor: pointer;
    margin: 40px;
}
.snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
}
.snaps-inline > * {
    scroll-snap-align: start;
}

@keyframes animate-fade{
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

/*
.container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}

.container img{
    width: 100%;
    background:#fffae2;
    border-radius: 40px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
}
.container div{
    padding-left: 20px;
    height:100%;
    position: relative;
}
.container div h3{
    font-size: 5vw;
}
.container div a{
    padding:15px;
    background: #4f3814;
    margin: 20px 0;
    display: inline-block;
    border-radius: 10px;
    color: #fff;
    font-size: 2vw;
    position:absolute;
    left: 50%;
    bottom: 0;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: background-color ease 0.5s;
}
.container div a:hover{
    background-color:#80612c;
}
.container p{
    padding: 30px 0px;
    font-size: 3vw;
}
@media screen and (max-width: 800px) {
    .container div, .container img {
        width:100%;
    }
}
*/
.nutrition-and-description{
    width: 82%;
    margin:auto;
    padding-top: 6vh;
    overflow: auto;
}

.nutrition{
    width: 40%;
    float: right;
    padding: 2vi;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);

    animation-duration: 0.75s;
    animation-name: animate-fade;
    animation-delay: 0.25s;
    animation-fill-mode: backwards;
}
.nutrition h3{
    font-size: 4vw;
}
.nutrition div{
    padding-left: 20px;
    padding-right: 20px;
}
.label{
    padding-top: 2vh;
}
.label img{
    width: 100%;
    max-width: 65%;
}
.ingredients h4{
    font-size:1vw;
}
.ingredients p{
    font-size:1vw;
}

.description{
    width: 40%;
    float: left;
    padding: 2vi;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);

    animation-duration: 0.75s;
    animation-name: animate-fade;
    animation-delay: 0.25s;
    animation-fill-mode: backwards;
}
.description h3{
    font-size: 4vw;
}
.description h4{
    font-family: 'Bree Serif', 'serif';
    font-size: 2.5vw;
    padding-top: 20px;
}
.description p{
    font-size: 1vw;
}
.description h5{
    padding-top: 30px;
    font-size: 1vw;
}
